h1 
{color: rosybrown; 
	font-size: 40px
}
h3
{color: goldenrod; 
	text-decoration: underline
}
#me {
background-image:url("../images/css_background.png");
	align-items: center;
	text-align: center
	
}
.my-class
{align-content: center;
	background:#B5D5E8; 
	border: solid
}
.image
{align-content: center; 
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
body {
	font-family: 'Montserrat', sans-serif;
	background-image:url("../images/css_background.png");
	align-items: center;
	text-align: center;
	padding: 25px 50px;
}
.my-container{
	padding: 10px 10px
}