* { margin: 0; padding: 0; border: 0; font-size: 100%; }
h1 
{color: rosybrown; 
	font-size: 40px
}
h3
{color: goldenrod; 
	text-decoration: underline
}
#me {
background-image:url("../images/css_background.png");
	align-items: center;
	text-align: center
}
.my-class
{align-content: center;
	background:#B5D5E8; 
	border: solid
}
.image
{align-content: center; 
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.my-container 
{Padding: 10px}
body {font-family: 'Hind Siliguri', sans-serif;
	font-family: 'Montserrat', sans-serif;
	background-image:url("../images/css_background.png");
	align-items: center;
	text-align: center
}